html {
  background: url(bg.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
  min-width:100%;
  background-color:#777;
}
body {
  margin:0px;
  padding:0px;
  min-width:1200px;
  font-family: sans-serif;
}
#container{
  width:100%;
  overflow:hidden;
}
#containerpadding {
  padding: 10px 15px 5px 15px;
  height:100%;
}
#contents {
  font-size:14pt;
  color:#FFF;
}
#header h1{
  text-align:center;
  font-family:"Arial";
  font-size:42pt;
  margin:7% auto 10pt auto;
  width:600px;
}
#header h2{
  text-align:center;
  font-family:"Arial";
  font-size:16pt;
  margin:5pt;
}
#form {
  margin-top:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:#FFF;
}
#trade {
  margin-top:10%;
  padding-bottom:15px;
}

select, input{
  border-radius: 5px;
  padding:5px 10px 5px 10px;
  font-size:14pt;
  opacity: 0.75;
}

#trade select, #trade input {
  margin-bottom:2px;
}

#trade input.symbol{
  width:7%;
}

#trade input.qty{
  width:8%;
}
#trade input.recipient {
  width:16.5%;
}
input.linkShare {
  width:30%;
}
#footer {
  text-align:center;
  margin-top:18%;
  color:#FFF;
  font-family:"Trebuchet MS";
  font-size:10pt;
  padding-top:8px;
  padding-bottom:5px;
}

a {
  color:#FFF;
  text-decoration:none;
  border-bottom: 1px white dotted;
}
a:hover{
  text-decoration:underline;
  border-color: transparent;
}

#quotes {
  width:100%;
  text-align:center;
}
#quotes span {
  white-space:nowrap; 
  font-size:10pt;
}

#infoBar {float:left; width:400px; margin-right:-400px; font-size:12pt; text-align:left;}
#welcome { font-size:12pt;}
#orderbook { margin-top:12px; }
#orderbook table { text-align:center; margin:auto;  }
#orderbook td, th { border-width: 0px 0px 1px 0px; border-style: solid; border-color: #DDD; padding: 3px; font-size:12pt;  text-align:right; }
#navigation, #subnavigation { text-align:right; font-size:12pt;}
#subnavigation { margin-left:-330px; width:330px; float:right;}
#subnavigation table{padding:0px; border-spacing:0px; border-collapse: collapse; width:100%;}
#navigation input { padding:1px 2px 1px 2px; font-size:12pt; }
#subnavigation, #subnavigation td{
  padding-top:2px;
  padding-bottom:0px;
  padding-right:5px;
  padding-left: 5px;
  text-align:right;
  vertical-align:top;
}
#account{ width: 250px; text-align:right; border-width:2px; border-color:transparent; border-style:solid;}
#balance, #orders { text-align:right; min-width:240px; }
#balance a, #orders span{ white-space:nowrap; }
.issuerLabels { font-size:10pt; }

#errors { width:80%; margin:auto; padding-top:5px; padding-bottom:5px; font-size:12pt; font-weight:bold;}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

#about{
  margin-top:100px;
  background-color:#FFF; 
  color:#777; 
  min-height:100%; 
  max-height: 999999px;
  width:100%;
  display:none; 
  z-index:9999; 
  opacity:.9;
}
#about a{
  color:#777; 
  font-weight:bold;
  border-width:0px 0px 1px 0px;
  border-style: dotted;
  border-color:#777;
}
#about a:hover {
  border-width:0px 0px 2px 0px;
  border-style:solid;
  text-decoration:none;
}
#about p, #about ul{
  text-align:left;
  width:70%;
  font-size:16pt;
  margin:10px auto 10px auto;
}
#about li{
  margin:10px 0px 10px 5%;
}
#about h3 {
  text-align:center;
  font-size:30pt;
  margin:auto;
  color:#888;
}
#about h4 {
  font-weight:normal;
  text-align:center;
  margin:10px 0px 20px 0px;
  font-size:14pt;
  color:#888;
}
#about h5 {
  text-align:center;
  width:80%;
  margin:auto;
  padding-top:30px;
  padding-bottom:10px;
  font-size:16pt;
  color:#888;
}

#loginBackground {
  position:absolute;
  top:0%;
  left:0%;
  width:100%;  /* adjust as per your needs */
  height:100%;   /* adjust as per your needs */
  background-color:#333;
  opacity:.5;
  padding:15px;
  z-index:998;
  display:none;
}

.popup{
  margin:auto;
  position:absolute;
  top:45%;
  left:50%;
  width:600px;  /* adjust as per your needs */
  height:420px;   /* adjust as per your needs */
  margin-left:-330px;   /* negative half of width above */
  margin-top:-240px;   /* negative half of height above */
  background-color:#999;
  border-width:2px;
  border-style:double;
  border-color:#FFF;
  opacity:.95;
  text-align:center;
  z-index:999;
  display:none;
  padding:30px;
}

.popup h3{
  margin:0px 0px 15px 0px;
  padding:5px 0px 5px 0px;
  text-align:left;
}

.popup table{
  width:100%;
  margin-bottom:15px;
}

.popup td{
  vertical-align:middle;
}
.popup td.right{
  width:70%;
}

.popup table input, .popup table select{
  width:90%;
}

.popup div{
  margin-bottom:5px;
}

.info {
  text-align:left;
  margin-top:20px;
  margin-bottom:20px;
  height: 350px;
  overflow:auto;
  padding:0px 10px 0px 10px;
}

.settings{
  max-height: 110px;
  overflow:auto;
  width:100%;
}

.disclaimer {
  text-align:left;
  margin-top:20px;
  margin-bottom:20px;
  overflow:auto;
  height:150px;
}

#destinationTagInfo {
  height: 190px;
}

#issuerInfo{
  height: 220px;
}

#disclaimerAgreement {
  font-size:10pt;
  text-align:right;
  vertical-align:middle;
  border-width:2px;
  border-style:solid;
  border-color:transparent;
}
#disclaimerAgreement input {
  height:10px;
  width:10px;
}
#trustlinesTable{
  width:98%;
  margin:auto;
}
#trustlinesTable input{
  width:80%;
}
.trustSymbol{
  width:10%;
}
.trustIssuer{
  width:50%;
}
.trustLimit{
  width:25%;
}
.trustDelete{
  width:8%;
  text-align:right;
}

#scrollingText 
{
  width: 800px;
  height: 36px;
  position: relative;
  margin-top:20px;
  margin-bottom:-25px;
  margin-left:auto;
  margin-right:auto;
  padding: 2px 0px;
  overflow:hidden;
  display:none;
}

#scrollingText a
{
  border:0px;
}

#scrollingText  div.scrollableArea p
{
  display: block;
  float: left;
  margin: 0;
  padding-right: 12px;
  padding-top: 1px;
  font-size: 13pt;
  line-height: 22pt;
  font-weight: normal; 
  white-space: nowrap;
  overflow:hidden;
}

@media only screen and (max-device-width: 480px) {
  body {
    max-height: 999999px;
    min-width:960px;
  }
  form{
    width:100%;
    overflow:hidden;
  }
  #header h1 {
    clear:right;
    font-size:54pt;
    width:80%;
    margin-top:10%;
  }
  #header h2 {
    font-size:24pt;
  }
  
  a {
    text-decoration:underline;
    border-bottom: 0px;
  }
  a:hover{
    text-decoration:none;
  }
  
  #scrollingText {
    height:50px;
  }

  #scrollingText  div.scrollableArea p {
    font-size:19pt;
    line-height: 37pt;
  }
  #scrollingText  a {
    text-decoration:none;
  }
  #trade{
    font-size: 24pt;
  }
  input, select{
    border-radius: 10px;
    font-size: 20pt;
  }
  #trade input.symbol{
    width:10%;
  }

  #trade input.qty{
    width:12%;
  }
  #trade input.recipient {
    width:25%;
  }
  

  #quotes span {
    font-size:14pt;
  }

  
  .issuerLabels { font-size:14pt; }
  #orderbook {  padding-top: 20px; }
  #orderbook td, #orderbook th { font-size:19pt;}
  #infoBar{ font-size:24pt; float:none; padding-bottom:20px; text-align:center; font-weight:bold; }
  #welcome { font-size:24pt; text-align:center;}
  #navigation, #navigation input, #subnavigation { font-size:24pt; float:none; }
  #navigation, #subnavigation, #infoBar{ width:100%; }
  #navigation, #subnavigation{ margin:auto; text-align:center; padding:0px; }
  #subnavigation table  { width: 99%; margin:auto; text-align:center; }
  #history div {
    float: left;
    padding-top: 10px;
    padding-left:12px;
    text-align: right;
    font-size:16pt;
    display: inline-block;
  }
  #account { width:50%; }
  #balance, #orders { width: 100%; text-align:left; padding:0px; margin:0px;}
  #footer {
    font-size:14pt;
  }
  
  #errors {  font-size:16pt; }
  
  .popup{
    width:800px;  
    height:700px;   
    margin-left:-400px;  
    margin-top:-350px;
    font-size:20pt;
    max-height:99999px;
  }
  .popup input, .popup select {
    font-size:20pt;
  }
  .popup td.right{
    width:55%;
  }
  
  .info {
    height: 600px;
  }
  
  
  #issuerInfo{
    height: 450px;
  }

  .disclaimer {
    height:350px;
    font-size:16pt;
    max-height:99999px;
  }
  
  #destinationTagInfo {
    height: 500px;
  }
  
  #disclaimerAgreement {
    font-size:20pt;
  }
  #disclaimerAgreement input {
    height:20px;
    width:20px;
  }
  
  #about p, #about ul{
    font-size:20pt;
  }
  #about h3 {
    font-size:34pt;
  }
  #about h4 {
    font-size:16pt;
  }
  #about h5 {
    font-size:20pt;
  }

}